/* styles.css */
h1{
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 12px;
}

th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th:first-child,
td:first-child,
th:nth-child(2),
td:nth-child(2) {
    width: 120px; /* Adjust the width as needed */
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#addRowButton, #addRollButton {
    margin: 10px 0;
}

#addRowButton {
    display: block;
    width: 100%;
}

/* Media Query for Responsive Design */
@media (max-width: 600px) {
    table {
        width: 100%;
    }
    th, td {
        padding: 8px;
    }
}
